
.bibbase_group {
    cursor: pointer;
    width: 100px;
    float: left;
}

.bibbase_group_body {
    margin-left: 120px;
}

.bibbase_group_whole {
    margin-top: 3px;
    border-top: 1px solid #ccc;
    clear: both;
}

span.bibbase_group_count {
    color: #999;
}


/* img.bibbase_icon { */
    /* width: 24px; */
    /* vertical-align: top; */
/* } */

br.bibbase_paper_content {
    display: none;
}

.bibbase_icon {
    display: none;
}