// Additional mixins.
	@mixin wrapper-padding($tb, $r: 0, $l: 0) {
		padding: $tb $r ($tb - $size-element-margin) $l;
	}

	@mixin vendorize-value($property, $value, $separator: space) {

		@if ($separator == comma) {
			$separator: ', ';
		}
		@else {
			$separator: ' ';
		}

	    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
			$v: '';

			@for $i from 1 through length($value) {
				$s: $vendor + nth($value, $i);

				@if ($v == '') {
					$v: unquote($s);
				}
				@else {
					$v: unquote($v + $separator + $s);
				}
			}

			#{$property}: $v;
		}

	}

// Duration.
	$duration-transition:		0.2s;

// Size.
	$size-element-height:		2.75em;
	$size-element-margin:		2em;

// Font.
	$font-family:				'Source Sans Pro', Helvetica, sans-serif;
	$font-family-heading:		'Montserrat', Helvetica, sans-serif;
	$font-family-fixed:			'Courier New', monospace;
	$font-weight:				400;
	$font-weight-bold:			600;
	$font-weight-heading:		400;
	$font-weight-heading-bold:	700;

// Color.
	$color-bg:					#f5f5f5;
	$color-fg:					#868686;
	$color-fg-bold:				#7f7f7f;
	$color-fg-light:			#A5A5a5;
	$color-border:				rgba(144,144,144,0.25);
	$color-border-bg:			rgba(144,144,144,0.075);
	$color-border2:				rgba(144,144,144,0.5);
	$color-border2-bg:			rgba(144,144,144,0.2);

	$color-accent1-bg:			#7bceba;
	$color-accent1-fg-bold:		#ffffff;
	$color-accent1-fg:			mix($color-accent1-bg, $color-accent1-fg-bold, 25%);
	$color-accent1-fg-light:	mix($color-accent1-bg, $color-accent1-fg-bold, 40%);
	$color-accent1-border:		$color-accent1-fg-bold;
	$color-accent1-border-bg:	rgba(255,255,255,0.075);
	$color-accent1-border2:		$color-accent1-fg-bold;
	$color-accent1-border2-bg:	rgba(255,255,255,0.2);

	$color-accent2-bg:			#6382a0;
	$color-accent2-fg-bold:		#ffffff;
	$color-accent2-fg:			mix($color-accent2-bg, $color-accent2-fg-bold, 25%);
	$color-accent2-fg-light:	mix($color-accent2-bg, $color-accent2-fg-bold, 40%);
	$color-accent2-border:		$color-accent2-fg-bold;
	$color-accent2-border-bg:	rgba(255,255,255,0.075);
	$color-accent2-border2:		$color-accent2-fg-bold;
	$color-accent2-border2-bg:	rgba(255,255,255,0.2);

	$color-accent3-bg:			#423e3a;
	$color-accent3-fg-bold:		#ffffff;
	$color-accent3-fg:			mix($color-accent3-bg, $color-accent3-fg-bold, 25%);
	$color-accent3-fg-light:	mix($color-accent3-bg, $color-accent3-fg-bold, 40%);
	$color-accent3-border:		$color-accent3-fg-bold;
	$color-accent3-border-bg:	rgba(255,255,255,0.075);
	$color-accent3-border2:		$color-accent3-fg-bold;
	$color-accent3-border2-bg:	rgba(255,255,255,0.2);