<!-- Footer -->
            <div class="row footer">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-6">
                      <h4>About</h4>
                        <p> Xu Chen is an assistant professor in the Department of Mechanical Engineering at the University of Connecticut. He conducts research and teaches in Dynamic Systems and Controls.</p> 
                    </div>
                    <div class="col-md-2">
                      <h4>UConn</h4>
                      <ul>
                        <li>
                        <a href="http://www.engr.uconn.edu/"><span class="username"> School of Engineering</span>
                          </a>
                        </li>
                        <li>
                        <a href="http://engr.uconn.edu/me/cms/"></i><span class="username"> Mechanical Engineering</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                      <ul>
                        <h4>Links</h4>
                        <li>
                        <a href="http://xchen.lab.uconn.edu"><i class="fa fa-group"></i><span class="username"> MACS Laboratory</span>
                          </a>
                        </li>
                        {% if site.github_username %}
                        <li>
                          <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i><span class="username"> {{ site.github_username }}</span>
                          </a>
                        </li>
                        {% endif %}
                        <li><a href="https://www.flickr.com/photos/68727199@N07"><i class="fa fa-flickr"></i><span class="username"> Flickr</span></a></li>
                        <li><a href="mailto:xchen@uconn.edu"> <i class="fa fa-envelope"></i><span class="username"> Email</span></a></li>
                      </ul>
                    </div>
                  </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          <!-- End Footer -->
